/* Check out how to manipulate the animation just by adding some lines in the
HTML code: before the class: animate_animated and after the class your changes:
e.g. animate__delay-4s or animate__repeat-2 */

/* Chck out this website: https://animate.style*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #eef5ff;
  font-family: Work Sans, sans-serif;
}


.container {
  text-align: center;
}


h1 {
  font-size: 72px;
  margin: 0;
  color: #191919;
}


p {
  font-size: 1.1rem;
  color: #666666;
}


.replay-button {
  background-color: #0ebac5;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}


.replay-button:hover {
  background-color: #0c9ea7; /* Darker blue on hover */
}